@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .bg-grid {
      background-image:
        linear-gradient(to right, rgba(255, 255, 255, 0.08) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(255, 255, 255, 0.08) 1px, transparent 1px);
      background-size: 64px 64px;
    }
  }